<a href="https://colab.research.google.com/github/hyeineom12/BaekJoon-practice/blob/main/20251221.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##10871번: X보다 작은 수

#### 정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

In [29]:
ask1 = input()
num = int(ask1.split()[0])
X = int(ask1.split()[1])

10 5

In [31]:
ask2 = input()
list1 = list(ask2.split())
list2 = []

1 10 4 9 2 3 8 5 7 6

In [32]:
for i in range(num) :
  if int(list1[i]) < X :
    list2.append(list1[i])

for i in list2 :
  print(i, end=' ')

1 4 2 3

## 2562번: 최댓값

#### 9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

In [41]:
list1 = []

for i in range(9) :
  ask = input()
  list1.append(int(ask))

3
29
38
12
57
74
40
85
61

In [42]:
maxint = max(list1)
maxloc = list1.index(maxint) + 1

print(maxint)
print(maxloc)

85
8