<a href="https://colab.research.google.com/github/hyeineom12/BaekJoon-practice/blob/main/20251226.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2941번: 크로아티아 알파벳

예전에는 운영체제에서 크로아티아 알파벳을 입력할 수가 없었다. 따라서, 다음과 같이 크로아티아 알파벳을 변경해서 입력했다.



---

* č	c=
* ć	c-
* dž dz=
* đ	d-
* lj lj
* nj	nj
* š	s=
* ž	z=

---
예를 들어, ljes=njak은 크로아티아 알파벳 6개(lj, e, š, nj, a, k)로 이루어져 있다. 단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

dž는 무조건 하나의 알파벳으로 쓰이고, d와 ž가 분리된 것으로 보지 않는다. lj와 nj도 마찬가지이다. 위 목록에 없는 알파벳은 한 글자씩 센다.

In [15]:
Q = input()

dz=ak

In [16]:
first_word = ['c', 'd', 'l', 'n', 's', 'z']
word_len2 = ['c=', 'c-', 'd-', 'lj', 'nj', 's=', 'z=']
word_len3 = ['dz=']

i = 0
count = 0
while i < len(Q) :
  if Q[i] in first_word :
    if Q[i:i+2] in word_len2 :
      i += 2
      count += 1
      continue
    if Q[i:i+3] in word_len3 :
      i += 3
      count += 1
      continue
  i += 1
  count += 1


print(count)

3

## 2577번: 숫자의 개수

세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

In [19]:
result = 1
for _ in range(3) :
  Q = int(input())
  result *= Q

150
266
427

In [30]:
num_dic = {'0' : 0,
           '1' : 0,
           '2' : 0,
           '3' : 0,
           '4' : 0,
           '5' : 0,
           '6' : 0,
           '7' : 0,
           '8' : 0,
           '9' : 0}

result = str(result)

for i in range(len(result)) :
  num_dic[result[i]] += 1

for value in num_dic.values() :
  print(value)

3
1
0
2
0
0
0
2
0
0